
/* font-family: 'balsamiq_sansbold';
font-family: 'balsamiq_sansbold_italic';
font-family: 'balsamiq_sansitalic';
font-family: 'balsamiq_sansregular';
    */
* {
    padding: 0;
    margin: 0;
}
.background{
    background: url(../img/bg.jpg) no-repeat left center / cover;
    width: 100%;
    display: flex;
}
.Class1,
.Class2{
    width: 50%;
    font-family: 'balsamiq_sansbold_italic';
    }
.clear {
    clear: both;
}   
.Class1 h2{
    text-align: center;
    text-transform: capitalize;
    }
.Class1 p{
    text-transform: lowercase;
    text-indent: 20px;
}
.Class2 input,textarea {
    width: 100%;
}